/* Regole Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
  
}

a {
    text-decoration: none;
    
}

body {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
    font-weight: 550;
    font-style: normal;
}

.cent {    
    max-width: 1260px;

}

.white {
    color: white;
}

.marginauto {
    margin: 0 auto;


}

.blackground{
    background-color: black;
}

.greyground {
    background-color:#f6f6f6;

    
}

.blue {
    background-color: #5865f2;;
}
/* Sezione Intestazione */



.jumbo {
   

    min-height: 650px;
    background-image: url(img/jumbo.png);
    background-size: cover;
}


nav {
    min-height: 80px;
    justify-content: space-around;
    align-items: center;

}

.nav {
    list-style-type: none;

}
li {
    margin: 0 20px;
}

.but {
    padding: 12px 18px;
    border-radius: 40px;
    border: white;

}

h2.white{
    font-size: 50px;
    text-align: center;
}

p.white.marginauto {
    text-align: center;
    padding-top: 80px;
    line-height: 1.625;
  
}
 .cont{
    justify-content: center;
    align-items: center;
}

.cta {  
    min-height: 470px;
    padding: 120px 40px;
    max-width: 780px;
    font-size: 18px;
    font-weight: 400;
    
}

.dwn{
    margin-top: 24px;
    margin-right: 24px;
    font-size: 20px;
    padding: 16px 32px;
}

/* corpo principale */

.col{
    flex-direction: column;
}


.img {
    width: 678px;
    height: 440px;

}

.container{
    max-width: 1260px;
    padding: 120px 40px;


}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;

}

.art {
    max-width:380px ;
    margin-left: 40px;
    margin-right: 40px;

}
.write {
    padding-top: 24px;
    line-height: 1.625;
    font-size: 18px;
    font-weight: 400;

}

.cont2{
    padding: 120px 40px;

}

.textcent{
    text-align: center;
    max-width: 980px;
    font-size: 36px;

}

p {
    text-align: center;
    margin-top: 24px;
    max-width: 980px;
}

.bigsvg {
    width: 1180px;;
}

.stars {
    max-width: 530px;
}

h3 {
    font-size: 32PX;
}

.blue {
    background-color: #5865f2;
    margin-bottom: 120px;
    margin-top: 40px;
    color: white;
}


/* Sezione footer */
.foot {
    background-color: #23272a;
    padding: 80px;
}


div .collegamenti {
    /* DEBUG */
   
  
}

div .social{
   
    max-width: 280px; 
    
}



.footer {

    justify-content: space-between;
    align-items: center;
    min-width: 1060px;
    margin: 0 auto;
    min-height: 80px;

}

.endtext {
    font-size: 34px;
    color: #5865f2;
    font-weight: 800;
    line-height: 95%;
}

.ita {
    width: 24px;
    margin: 0 5px;
}

.lingua {
    margin-top: 24px;
    color: white;
}

.icons {
    margin-top: 24px;
    
    
}

.iconsh {
    height: 24px;
    white: 24px;
    color: white;
    margin: 0 10px;

}

.spacer {
    width: 80px;
}

.linkfooter {
    width: 180px;
    line-height: 34px;
}
h5 {
    font-size: 16px;
    color: #5865f2;
}

.linkf {
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: block;
    
}

.collegamenti {
    border-bottom: 1px  #5865f2 solid;
    padding-bottom: 40px ; 
}

.sing {
    background-color: #5865f2;
    color: white;